{% extends "Layout.html" %}
{% block content %}
    <h1>Приветствую вас на моём тестовом задании</h1>
<br>
<p>Суть задния {{ name }} для Drom</p>

<p>Для перехода к {{ name }} воспользуйтесь меню слева</p>
    {% endblock %}

