{% extends "Layout.html" %}
{% block content %}
    <!--{{content}}-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="../js/lib/jquery-3.2.1.min.js"></script>
    <script src="../js/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" href="../node_modules/todomvc-common/base.css">
    <link rel="stylesheet" href="../node_modules/todomvc-app-css/index.css">
    <!-- CSS overrides - remove if you don't need it -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo" placeholder="What needs to be done?" name="text" autofocus>
    </header>

    {% if items is not empty %}
    <section class="main">
        <input id="toggle-all" class="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">

            {% for item in items %}
            <li> <!--class="completed"-->
                <div class="view">
                    <input class="toggle" value="{{ item.0 }}" id="click-checkbox" type="checkbox" > <!--checked-->
                    <label>
                        {{ item.1 }}
                    </label>
                    <button class="destroy"></button>
                </div>
                <input class="edit" value="Create a TodoMVC template">
            </li>
            {% endfor %}

        </ul>
    </section>

    <footer class="footer">


        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed">Clear completed</button>
    </footer>
    {% else %}
    <footer class="footer">
        <span class="todo-count"><strong>0</strong> item left</span>
    {% endif %}

</section>

<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by
        <a href="https://www.facebook.com/alexander.yakimchuk.7">
        Alex Yakimchuk
        </a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<!-- Scripts here. Don't remove ↓ -->
<script src="../node_modules/todomvc-common/base.js"></script>
<script src="../js/app.js"></script>
</body>
</html>
{% endblock %}